*{
    margin: 0;
    padding: 0;
    
}
nav{
    background-color: black;
    color: white;
    display: flex;
    justify-content: space-between;
    padding: 1rem 3rem ;
    align-items: center;
    font-family: 'Open Sans', sans-serif;
}
nav #logo-image{
    /* width: 30px; */
    height: 30px;
}
nav #things ul{
    list-style-type: none;
    display: flex;
    gap: 3rem;
    align-items: center;
}
#hero-section{
    display: flex;
    width: 100%;
}
#hero-text{
    width: 50%;
}
#hero-image{
    width: 50%;
}